@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&family=Niconne&display=swap");
/* GLOBAL */
body {
	font-family: "Alegreya SC", serif;
}
nav {
	font-size: 1.5rem;
	background-color: black;
}
ul {
	list-style-type: none;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px;
}
li {
	cursor: pointer;
}
p {
	color: white;
	font-size: 1.5rem;
}
h1 {
	text-align: center;
	font-size: 3rem;
	font-family: "Niconne", cursive;
	color: #00ff1e;
}
/* NAVBAR */
.navbar-nav {
	margin: auto 60vw;
}
.navbar-brand {
	cursor: default;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show .nav-link {
	color: #00ff1e;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #00ff1e;
}
#navBrand {
	font-family: "Niconne", cursive;
	font-size: 2.5rem;
	color: #00ff1e;
}
/* UTILITES */
.imgResize {
	width: 15vw;
	display: block;
	margin: auto;
	border-radius: 10px;
}
.section {
	margin-top: 11.4vh;
	height: calc(100vh - 11.4vh);
	color: black;
	background-color: gray;
}
.form-control {
	margin: 2vh auto;
}
/* HOME PAGE */
#home1 {
	color: white;
}
#home1 a {
	display: block;
	text-decoration: none;
	width: fit-content;
	margin: auto;
}
#home1 h1:hover {
	color: #00ff1e;
}
#home1 h1 {
	margin-top: 15vh;
	font-family: "Alegreya SC", serif;
	color: white;
}
#home1 ul {
	margin-top: 8vh;
	position: absolute;
	line-height: 2.3rem;
	width: 20vw;
}
#home1 li {
	cursor: default;
}
.section2 li {
	border: 2px solid transparent;
	padding: 5px;
}
.btn {
	color: white;
	background-color: transparent;
	border: 1px solid #00ff1e;
}
.btn:hover {
	background-color: #00ff1e;
	color: white;
	box-shadow: 0px 0px 15px #00ff1e;
}
.section2 li:hover {
	border: 2px solid #00ff1e63;
	border-radius: 10px;
	box-shadow: 0px 0px 30px #00ff1e;
	width: fit-content;
	margin: auto;
}

#home .section2 {
	height: calc(100vh - 11.5vh);
}
.section2 {
	background-color: black;
	overflow: hidden;
	color: white;
}
.section2 h1 {
	font-size: 2.5rem;
	cursor: default;
}
.section2 button {
	display: block;
	margin: auto;
}
/* ABOUT  */
#about {
	padding-top: 10vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(./imgs/about_bg.jpg) center/cover;
	align-items: center;
}
#about p {
	align-self: center;
}
#about img {
	margin: 0 auto;
	width: 30vw;
	height: 30vw;
	float: right;
	border-radius: 50%;
	border: 2px double green;
}
#about h1 {
	cursor: default;
}
/* NEWS */
#news {
	overflow: auto;
}
#news1 h1 {
	cursor: default;
	margin-top: 5vh;
	font-family: "Alegreya SC", serif;
	color: black;
}
#news1 p {
	text-align: left;
}
/* CONTACT */
#contact {
	padding-top: 10vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(./imgs/contact_bg.jpg) center/cover;
	align-items: center;
}
#contact h1 {
	cursor: default;
}
#contact form {
	color: white;
	display: block;
	margin: auto;
	width: 50vw;
}
#contact label {
	padding-left: 10px;
}

#contact button {
	display: block;
	margin: auto;
	font-size: 1.5rem;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1441px) {
	.section {
		margin-top: 8vh;
	}
	.navbar-nav {
		margin: auto 55vw;
	}
}
@media screen and (max-width: 1280px) {
	.navbar-nav {
		margin: auto 50vw;
	}
}

@media screen and (max-width: 1028px) {
	.section {
		margin-top: 8vh;
	}
	.navbar-nav {
		margin: auto 40vw;
	}
	#home1 h1 {
		margin-top: 5vh;
	}
	#home1 ul {
		position: relative;
		display: block;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1028px) and (min-height: 1360px) {
	.section {
		margin-top: 5vh;
	}
}
@media screen and (max-width: 769px) {
	h1 {
		font-size: 2rem;
	}

	.section2 h1 {
		font-size: 1.8rem;
	}
	.section2 ul {
		font-size: 1rem;
	}

	#home1 ul {
		font-size: 1rem;
	}
}
@media screen and (max-width: 769px) and (max-height: 670px) {
	.section {
		margin-top: 12vh;
	}
	#home1 ul {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}
@media screen and (max-width: 426px) {
	p {
		font-size: 1rem;
	}
	#home1 ul {
		color: white;
		font-size: 1rem;
		line-height: 1rem;
		margin: auto 0;
	}
}
